<%= form_for :goi, url: gois_path, html: { id: 'gois', role: 'form', method: :get }, remote: true do |f| %>
<%= f.text_field :goi, class: 'form-control' %>
<%= f.submit 'next', class: 'btn btn-primary' %>
<% end %>
<div class="row">
  <div class="col-md-12" id="goi"></div>
</div>
<div class="row">
  <div class="col-md-12" id="kanji_unit"></div>
</div>
