<div class="m-auto w-50">
<% @vocab_stores.each do |data| %>
<%= link_to data['vocab_code'], gois_path(goi: {goi: data['vocab_read']}), class: 'btn btn-primary rounded-0 m-1', remote: true %><br />
<%= link_to data['vocab_read'], gois_path(goi: {goi: data['vocab_read']}), class: 'btn btn-primary rounded-0 m-1', remote: true %><br />
<%
    lang_id = current_user.lang_id
    text = []
    text = data.nation_vocab[lang_id] if data.nation_vocab.present? && data.nation_vocab[lang_id].present?
%>
  <% text.each do |txt| %>
  <%= text_area_tag 'lang', txt, cols: 10, rows: 1, class: 'form-control' %>
  <% end %>
  <%= text_area_tag 'lang', 'ありません', cols: 10, rows: 1, class: 'form-control' if text.blank? %>

<% end %>
<div class="row">
  <div class="col-md-12" id="goi"></div>
</div>
<div class="row">
  <div class="col-md-12" id="kanji_unit"></div>
</div>
</div>
