# Ignore bundler config
/.bundle

# Ignore log and temp files
/log/*
!/log/.keep
/tmp
/storage/*
!/storage/.keep

# Ignore uploaded files in development
/public/uploads

# Ignore system files
*.swp
.DS_Store
.idea/
.vscode/

# Ignore secrets and credentials (if not using environment variables)
config/master.key
.env

# Node.js & Yarn (if using Webpacker)
node_modules/
yarn-error.log
