<% stroke = 0 %>
<% max_num = 5 %>
<% num = 1 %>
<div class="m-auto w-50">
<% @goi.each_with_index do |part, idx| %>
  <% if part.parts_stroke != stroke %>
    <% stroke = part.parts_stroke %>
    <br /><%= stroke %><br />
  <% end %>
  <%= link_to part.parts_code, part_parts_path(kanji: { kanji: part.parts_org }), class: 'rounded-0 m-1 btn btn-outline-primary text-dark' %>
  <% if num == max_num %>
    <% num = 1 %>
  <% else %>
    <% num += 1 %>
  <% end %>
<% end %>
</div>
