<%= stylesheet_link_tag "jlpt", media: "all", 'data-turbo-track': 'reload' %>
<%= render "page_parts_to_kanji" %>
<div class="row">
  <div class="col-md-12" id="part"></div>
</div>
<div class="row">
  <div class="col-md-12" id="kanji_unit"></div>
</div>
