
<h3>Transcription:</h3>
<p><%= @transcription %></p>
<%= link_to speech_audio_specified_conversations_path, class: 'text-decoration-none d-inline-block w-100 text-reset' do %>
  <h2>audio</h2><br>
<% end %>