
<ul class="dropdown-menu inherit d-block w-75 m-auto">
  <li class="dropdown-item" data-bs-toggle="collapse" data-bs-target="#collapsePart" aria-expanded="false" aria-controls="collapsePart">
    audio_master
  </li>

  <div class="collapse" id="collapsePart">
    <div class="card card-body p-0" style="margin: 0 3%;">
      <ul class="dropdown-menu inherit d-block w-100 m-auto">
        <li class="dropdown-item">
          <%= link_to 'audio_master', audio_masters_path, class: 'text-decoration-none d-inline-block w-100 text-reset w-100' %>
        </li>
      </ul>
    </div>
  </div>
  <!-- <hr class="m-1"> -->
</div>
</ul>
