<%= form_for :goi, url: foreigns_path, html: { id: 'gois', role: 'form', method: :get }, remote: true do |f| %>
  <div class="m-auto w-50">
    <%= f.text_field :goi, class: 'form-control' %>
    <%= f.submit 'next', class: 'btn btn-primary rounded-0 m-1' %>
  </div>
<% end %>
<div class="row">
  <div class="col-md-12" id="kuni"></div>
</div>
<div class="row">
  <div class="col-md-12" id="kanji_unit"></div>
</div>
