<div class="row">
  <div class="col-md-2 mb-3">
    <%= link_to t('buttons.new').html_safe, new_user_path, class: "btn btn-warning" %>
  </div>
</div>
<div class="row">
  <div class="col-md-12" id="users">
    <%= render 'user_list' %>
  </div>
</div>
