<label for="new-item" style="white-space: pre-wrap;">
「△▲△▲」サービス利用規約

株式会社△▲△▲（以下、「本サービス運営者」という。）が提供するサービスアプリ「△▲△▲」（以下、「本サービス」という。）をご利用いただくにあたり、ユーザーの皆様に対して、以下のサービス利用規約（以下、「本規約」という。）を定めます。本サービスの利用に際しては、本規約全文をお読み頂いたうえで、本規約に同意頂く必要があります。

第1条（適用）
1.	本規約は、本サービスの提供条件および利用に関する本サービス運営者と登録ユーザーとの間の権利義務関係を定めることを目的とし、登録ユーザーと本サービス運営者との間の本サービスの利用に関わる一切の関係に適用されます。
2.	本規約の内容と、本規約外における本サービスの説明等とが異なる場合は、本規約の規定が優先して適用されるものとします。

第2条（定義）
1. 本規約において使用する以下の用語は、各々以下に定める意味を有するものとします。
　(1) 「サービス利用規約」とは、本規約および本サービス運営者と登録ユーザーの間で締結する、本サービスの利用に関する契約を意味します。
　(2) 「知的財産権」とは、著作権、特許権、実用新案権、意匠権、商標権その他の知的財産権（それらの権利を取得し、または登録等を出願する権利を含む）を意味します。
(3) 「個人情報」とは住所、氏名、職業、電話番号等の個人を特定することのできる情報を意味します。
　(3) 「投稿データ」とは、登録ユーザーが本サービスを利用して投稿その他送信するデータ（個人情報および知的財産権の範疇外のデータ含む）を意味します。
　(4) 「登録ユーザー」とは、第3条に基づいて本サービスの利用者としての登録がなされた個人または法人を意味します。
　(5) 「本サービス」とは本サービス運営者が提供する『△▲△▲』という名称のサービスアプリ（名称または内容が変更された場合は、当該変更後のサービスを含む）を意味します。

第3条（登録）
1.	本サービスの利用を希望する者は、本規約を遵守することに同意し、かつ本サービス運営者の定める一定情報（以下、「登録事項」という。）を本サービス運営者の定める方法で本サービス運営者に提供することにより、本サービスの利用の登録を申請することができます。
２．申請者は、本サービス運営者に対して、次の事項を表明し保証します。 
（１）本サービス申込みにおいて申請者が提供する事実は、完全かつ正確であること。 
（２）本サービスの利用は、第三者のいかなる権利も侵害しないこと。 
（３）本サービスの利用にあたり、不正な目的又は意図をもっていないこと。
2.	本サービス運営者は、本サービス運営者の基準に従って、第１項に基づいて登録申請を行った者の登録可否を判断し、登録を認める場合にはその旨を申請者に通知します。申請者の登録ユーザーとしての登録は、本サービス運営者が本項の通知を行ったことをもって完了したものとします。
3.	前項に定める登録の完了時に、サービス利用規約が登録ユーザーと本サービス運営者の間に成立し、登録ユーザーは本サービスを本規約に従い利用することができるようになります。
4.	本サービス運営者は、登録申請者が、以下の各号のいずれかの事由に該当する場合は、登録および再登録を拒否することがあり、またその理由について一切開示義務を負いません。
(1) 本サービス運営者に提供した登録事項に虚偽、誤記または記載漏れがあった場合
　(2) 反社会的勢力等（暴力団や反社会的勢力その他これに準ずる者）である、または資金提供その他を通じて反社会的勢力等の維持、運営もしくは経営に協力もしくは関与していると本サービス運営者が判断した場合
　(3) 過去に本サービス運営者との契約に違反した者またはその関係者であると本サービス運営者が判断した場合
　(4) その他、本サービス運営者が登録を適当でないと判断した場合

第３条（本サービスの内容及び変更） 
１．本サービスの内容及び詳細は、本サービス運営者が定めるところによります。
２．本サイトの内容は、登録ユーザーに事前承認を得ることなく変更されることがあります。その際は、本サービス運営者が適切と判断する方法により登録ユーザーに通知します。本サービス運営者が定める期間内に異議がない場合、又は登録ユーザーが本サービスの利用を継続した場合、登録ユーザーはこれを承諾したものとみなします。当該変更により、登録ユーザーに損害、損失等が生じたとしても本サービス運営者は当該責任の一切を負わないものとします。 

第４条（利用条件） 
登録ユーザーは、本規約の他、本サービス運営者が別途定めるガイドライン及び本サービス運営者の通知事項等（以下、「本規約等」という。）を遵守するものとします。 

第５条（パスワードおよびユーザーIDの管理）
1.	登録ユーザーは自己の責任において、本サービスに関するパスワードおよびユーザーIDを適切に管理および保管するものとし、これを第三者に利用させ、または貸与、譲渡、名義変更、売買等をしてはならないものとします。
2.	パスワードまたはユーザーIDの管理不十分、使用上の過誤、第三者の使用等によって生じた損害に関する責任は登録ユーザーが負うものとし、本サービス運営者は一切の責任を負いません。

第６条（期間）
本サービスの利用期限は特に設けません。但し、登録ユーザーが本規約に違反する行為を行ったときは、弊社は、即時に本サービスを解除できるものとします。

第７条（料金および支払方法）
1.	登録ユーザーは、本サービス利用の対価として、本サービス運営者が定めた利用料金を、本サービス運営者が指定する支払方法により本サービス運営者に支払うものとします。
2. 現時点に於いて上記利用料金は無料とします（有料コンテンツに要する料金は除く）。将来に於いて料金の改定が生じる場合は事前に登録ユーザーに明示告知するものとします。

第８条（本サービスの解約） 
1. 登録ユーザーは、本サービス運営者所定の方法に従い、本サービスの利用の解約を申し出ることができます。
2. 本サービス運営者は、如何なる理由であっても、登録ユーザーから本サービス利用に関して受領した利用料等の経済的利益を返還しないことに登録ユーザーは同意するものとします。 

第９条（保証の否認および免責） 
1．本サービス運営者は、本サービスを高品質で提供するために最大限の努力をしますが、本サービスが常に完全な状態で提供されることを約束するものではないことに登録ユーザーは同意します。
2． 本サービス運営者は、本サービスが登録ユーザーの特定の目的に適合すること、期待する機能・商品的価値・正確性・有用性を有すること、登録ユーザーによる本サービスの利用が登録ユーザーに適用される法令または業界団体の内部規則等に適合すること、および不具合が生じないことについて、何ら保証するものではありません。
3.	本サービス運営者は、本サービスの提供の中断、停止、終了、利用不能または変更、登録ユーザーが本サービスに送信したメッセージまたは情報の削除または消失、登録ユーザーの登録の抹消、本サービス利用による登録データの消失または機器の故障もしくは損傷、その他本サービスに関して登録ユーザーが被った損害につき、賠償する責任を一切負わないものとします。
4. 本サービスに関連して登録ユーザーと他の登録ユーザーまたは第三者との間において生じた取引、連絡、紛争等については、本サービス運営者は一切責任を負いません。本サービスの利用によって登録ユーザーが第三者に損害を与えた場合、登録ユーザーは自らの責任と一切の費用負担において解決し、本サービス運営者に一切の損害を及ぼさないものとします。
5. 本条の規定は、本規約の有効期間が終了後もなお有効に存続します。

第１０条（権利帰属）
1.	本サービスに関する知的財産権は全て本サービス運営者または本サービス運営者にライセンスを許諾している者に帰属しており、本規約に基づく本サービスの利用許諾は、本サービス運営者ウェブサイトおよび本サービスに関する本サービス運営者または本サービス運営者にライセンスを許諾している者の知的財産権の使用許諾を意味するものではありません。
2.	登録ユーザーは、投稿データについて、自らが投稿その他送信することについての適法な権利を有していること、および投稿データが第三者の権利を侵害していないことについて、本サービス運営者に対し表明し、保証するものとします。
3. 各登録ユーザーが本サービスに送信した投稿データの知的財産権（注：語彙データは知的財産ではない）は、各登録ユーザーに帰属します。但し、本サービスの円滑な運営目的という範囲内に於いて、登録ユーザーは投稿データの包括的な無償使用許諾（サムネイルを作成する等）を本サービス運営者に認め、知的財産に関しては著作者人格権の行使をしないことに同意するものとします。

第１１条（本サービスの解除等） 
本サービス運営者は、次のいずれかの事由に登録ユーザーが該当すると判断する場合、何らの催告、通知を経ずに本サービス提供を中止もしくは停止し、又は催告を経ずに通知により本サービスを解除することができます。この場合、本サービスの中止もしくは停止、又は解除により登録ユーザーに損害、損失等が生じたとしても本サービス運営者は一切の責を負いません。 
  (1) 本規約に違反した場合
(2) 申込みに関する記載もしくは表明内容に虚偽があった場合。又は本サービス申込みにおいて、著しく誤解を招く情報を提供又は重要な情報を隠した場合 
(3) 本サービス申込み又は利用により、日本その他の国の法令に違反した場合
(4) 第三者を誹謗中傷した場合、第三者の個人的情報や秘密とされる情報を その者の同意なく開示した場合、第三者に感情的苦痛を与える行為をした場合、第三者の商標権、著作権、その他の知的財産権、その他の権利を侵害した場合
(5) 有料コンテンツ等の利用料の支払いを滞納した場合 
(6) 本サービスの評価又は信用を意図的に毀損する行為があった場合 
(7) 前各号のほか、本サービス運営者が本サービスの提供を継続しがたいと判断した場合

第１２条（本サービスの停止等） 
本サービス運営者は、次のいずれかに該当する場合、何らの催告、通知を経ずに本サービスの提供を中止又は必要な期間停止することができます。この場合、本サービスの中止又は停止により登録ユーザーに損害、損失等が生じたとしても本サービス運営者は本規約等に定める場合を除き、一切の責を負わないものとします。 
⑴ 本サービスに係るシステムの点検又は保守作業を定期的又は緊急に行う場合 
⑵ コンピューター、通信回線等が事故により停止した場合 
⑶ 火災、停電、天災地変、疫病の蔓延など不可抗力により本サービスの運営ができなくなった場合 
⑷ その他、本サービス運営者が中止又は停止を必要と判断した場合 

第１３条（秘密保持）
登録ユーザーは、本サービスに関連して本サービス運営者が登録ユーザーに対して秘密に取り扱うことを求めて開示した非公知の情報について、本サービス運営者の事前の書面による承諾がある場合を除き、秘密に取り扱うものとします。

第１４条（利用者情報の取扱い）
1.　登録ユーザーの利用者情報は、以下の各号に掲げる目的のために本サービス運営者が使用できるものとし、登録ユーザーは本サービス運営者が利用者情報を取扱うことについて同意するものとします。
　⑴ 本サービスに関する本人確認、サービス提供、維持、保護および改善のため
　⑵	 本サービスに関するご案内、お問い合せ等への対応のため
　⑶	 本サービスに関する本サービス運営者の規約等に違反する行為に対応するため
　⑷	 本サービスに関する規約等の変更などを通知するため
　⑸	 上記の利用目的に付随する利用目的のため
2.	本サービス運営者は、登録ユーザーが本サービス運営者に提供した情報、投稿データ等を個人特定できない形での統計的な情報として、本サービス運営者の裁量で利用および公開することができるものとし、登録ユーザーはこれに異議を唱えないものとします。

第１５条（個人情報管理）
1.　本サービス運営者は、本サービスの運営に必要な範囲内で、個人情報を正確かつ最新の状態に保つ努力をします。
2. 本サービス運営者は、個人情報の漏洩、滅失の防止その他個人情報の安全管理のために必要かつ適切な措置を講ずるものとします。
3. 本サービス運営者は、個人情報の取扱いの全部または一部を本サービス運営者以外の者に委託するときは、委託契約において、個人情報の安全管理について受託者が講ずべき措置を明らかにし、受託者に対する必要かつ適切な監督を行うものとします。
4. 本サービス運営者は、前項の他、あらかじめ登録ユーザーの同意を得ることなく、個人情報を第三者に提供しないものとします。但し、次の各号の場合を除きます。
⑴ 法令に基づく場合
⑵ 第三者の生命、身体または財産の保護のために必要があると本サービス運営者が判断した場合
⑶ 公衆衛生の向上のために特に必要がある場合
⑷ 公的機関またはその委託を受けた者が法令の定める事務を遂行することに対して協力
する必要がある場合であって、本人の同意を得ることにより、当該事務の遂行に支障を及ぼすおそれがあるとき

第１６条（本規約等の変更）
本サービス運営者は、本規約を変更できるものとします。本サービス運営者は、本規約を変更した場合には、登録ユーザーに当該変更内容を通知するものとし、当該変更内容の通知後、登録ユーザーが本サービスを利用した場合または本サービス運営者の定める期間内に登録抹消の手続をとらなかった場合には、登録ユーザーは、本規約の変更に同意したものとみなします。 

第１７条（変更届出） 
1. 登録ユーザーは、申込者名・住所・電話番号・メールアドレス等、申込みの際の提供情報に変更があった場合は、直ちに変更内容を本サービス運営者に届け出るものとします。 
2. 本サービス運営者は、前項の届出があったときは、その事実を証明する書類の提示を登録ユーザーに要請することがあります。 
3. 第１項の届出のないときは、本サービス運営者は、登録ユーザーに対し、当初登録ユーザーが提供した連絡先に対し通知すれば足りるものとし、当該通知が登録ユーザーに到達しなかったとしても、当該通知を発したときに登録ユーザーに到達したものとみなします。 

第１８条（譲渡の禁止） 
登録ユーザーは、本サービス運営者が事前に承諾した場合を除き、本規約上の地位並びに本サービスに対するいかなる権利又は義務についても第三者に譲渡することはできません。 

第１９条（損害賠償） 
1. 本サービス運営者は、本サービスの提供にあたり、本サービス運営者の故意又は重過失により登録ユーザーに損害を与えたときは、登録ユーザーに対してその損害を賠償するものとします。但し、いかなる間接損害、予見の有無にかかわらず特別な事情から生じた損害については、本サービス運営者は賠償責任を免れるものとし、賠償の範囲は現実に発生した通常損害に限られます。また本サービス運営者が責任を負う賠償額に関しては、当該損害の発生した事案に関わる契約につき過去３０日間に登録ユーザーが支払った利用料金額もしくは３万円のいずれか低いほうをその上限とします。
2. 登録ユーザーが本規約等に違反し、又は本サービスの利用に関連して、本サービス運営者に損害を与えた場合には、当該登録ユーザーは本サービス運営者に対して、その損害を直ちに賠償する責任を負うものとします。 

第２０条（反社会的勢力の排除） 
1. 登録ユーザーは、自身および取引先が、反社会的勢力（暴力団、暴力団関係企業、総会屋、特殊知能暴力集団又はこれらの団体の構成員、又はその他準ずる者）に該当しないこと及び反社会勢力と一切関係がないことを本サービス運営者に表明し保証します。
2. 登録ユーザーが前項に違反したときは、本サービス運営者は何らの催告を要せず、ただちに本サービスを解除することができます。当該解除により、本サービス運営者は受領した利用料を返還する義務は負わないものとし、登録ユーザーに損害又は不利益が生じたとしても本サービス運営者はそれについて責任の一切を負いません。 

第２１条（信義誠実の原則）
登録ユーザー及び本サービス運営期間は、本規約等に関して疑義が生じた場合は、互いに信義誠実の原則に従って協議の上、解決するものとします。

第２２条（準拠法） 
本規約の効力、履行、解釈に関する準拠法は日本法とします。 

第２２条（合意管轄） 
本規約等に起因又は関連する一切の紛争訴訟については、本サービス運営者の本店所在地を管轄する裁判所をもって第一審の専属的合意管轄裁判所とします。

以上
</label>
