<label for="new-item" style="white-space: pre-wrap;">
    販売事業者    :  株式会社
    サービス名称  :  ■■■■■■
    サービス内容  :  アプリを利用した語学の教授及びビジネスに関する教育事業
    運営統括責任者 : ○○○○○○
    所在地       :  神奈川県横浜市青葉区
    販売事業者の電話番号 :（国番号0081） 045-983-2228
                       受付時間：平日10:00-17:00（年末年始、GWを除く）
    メールアドレス :  ○○○○○○○＠○○○
    URL         : https://www.
    商品の販売価格 :  アプリ内の有料コンテンツ購入画面に記載しています。
    各コンテンツにより価格が異なります。
    商品代金以外の支払い : 消費税（表示価格は税込み表示です）
    通信料金：ご利用する通信契約により、通信料金がかかることがあります。
    決済手数料：不要
    お支払方法    :  クレジットカード、キャリア決済、Paypal決済、
    お支払期限    :  クレジットカード、キャリア決済：前月に翌月利用料として決済されます。
    Paypal決済：毎月月末に、翌月分利用料として決済されます。
    商品の引き渡し時期 :  各コンテンツの支払い手続完了後に、即時に利用可能となります。
    返品・キャンセル  :  商品の性質上、キャンセル、返品はできず、理由の如何を問わず、返金や他のコンテンツとの交換はできません。
    推奨動作環境   :  iOS版 :  iOS 14.0以上
    Android版：Android OS 7.0以上
    ＊推奨環境は予告なく変更する場合があります。
    ＊推奨環境を満たしていても、お客様個別の環境により動作や表示が正常に行われない場合があり、必ずしも動作を保証するものではありません。
    お問い合せ  :  お問い合せはアプリ内の「お問い合せフォーム」からお願いいたします。

</label>
