 <div class="m-auto w-75 row">
  <% @gois.each do |kanji| %>
    <div class="col-sm-3 mt-1" style="min-width: 200px">
      <div class="card rounded-0" style="height: 160px; overflow: auto;">
        <div class="card-body text-center">
          <%= link_to kanji.kanji_code, parts_kanji_parts_path(id: kanji.id), remote: true, class: 'underline d-inline-block w-100 fs-2 link-opacity-50-hover ink-dark' %>
          <hr class="m-1">
          <p class="card-text text-center"> <%#= kanji[:eng_mean] %> </p>
          
          <div class="position-absolute top-0 end-0 p-2">
          <button type="button" class="btn btn-sm btn-outline-primary"
          onclick="Openmodal(
            '<%= kanji.kanji_code %>', 
            '', 
            '', 
            '', 
            '<%= kanji.parts_body %>'
          )"
          data-bs-toggle="modal" data-bs-target="#kanjiModal">
          <i class="fas fa-book-open"></i>
        </button>
        </div>        
        </div>
      </div>
    </div>
  <% end %>
</div>
<!-- Modal for displaying Kanji details -->
<div class="modal fade" id="kanjiModal" tabindex="-1" aria-labelledby="kanjiModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-3 shadow-lg">
      <div class="modal-header">
        <h1 class="modal-title" id="ModalHeaderLabel">項目</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <p><strong >Meaning:</strong> <span id="modal-meaning"></span></p>
      <p><strong >Kun:</strong> <span id="modal-kunyomi"></span></p>
      <p><strong >On:</strong> <span id="modal-onyomi"></span></p>
      <p><strong >Parts:</strong> <span id="modal-parts"></span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
