<%= form_for :kanji, url: url, html: { id: 'kanjis', role: 'form', method: :get }, remote: true do |f| %>
<% verbs = @gois.map{ |goi| [goi[:kanji_code], goi[:kanji_org]] } %>
<div class="m-auto w-50">
<%= f.select :kanji, options_for_select(verbs,''), { include_blank: false }, class: 'form-select' %>
<%= f.submit 'next', class: 'btn btn-primary rounded-0 m-1' %>
</div>
<% end %>
