<label for="new-item" style="white-space: pre-wrap;">
株式会社△▲△▲（以下、「当社」といいます。）は、登録ユーザーの個人情報につきまして、その重要性を強く認識し、個人情報保護に関する法令等を遵守し下記の通り、適切な取扱い及び管理に努めます。当社は、個人情報の正確性を保ち、これを安全に管理します。当社に個人情報を提供するにあたっては、下記の内容についてご同意のうえ、ご提供いただきますようお願いします。

第１条（個人情報の取得）
当社は、以下の方法で個人情報を取得します。
（１）ユーザーから直接、個人情報の提供を受ける方法
（２）ユーザーが当社サービスを利用する際に、自動的に個人情報を記録する方法
（３）第三者から間接的にユーザーの個人情報の提供を受ける方法
（４）刊行物やインターネット等で公開された個人情報を取得する方法

２．取得するのは以下の個人情報です。
（１）ユーザーの基本情報(住所、氏名、性別、生年月日、国籍、旅券番号、電子メールアドレス、電話番号、郵便物送付先住所など)
（２）ユーザーの付加情報（職業、勤務先（社名、住所、電話番号、部署、役職など）
（３）支払に関する情報（クレジットカード番号、銀行口座、請求書・領収書宛先など）
（４）当社が提供するサービス利用情報（履歴、購入情報など）
（５）ユーザーから当社へ発信された連絡内容（電子メール、フォーム入力内容など）
（６）当サービスにおいて自動的に収集される情報（Cookie、IPアドレスなど）
上記には、その情報単体では個人情報に該当しない属性情報（例：年齢・性別・職業・居住地域）、Cookie、IPアドレス（以下、総称して「インフォマティブ情報」といいます）がありますが、ユーザーが当社サービスの利用にあたり当社に個人情報を提供した場合、当該情報とインフォマティブ情報が紐付けられる場合があり、この場合は当該インフォマティブ情報も個人情報として取り扱われます。
２．ユーザーからの個人情報の提供は任意ですが、当社サービスにおいて必要となる項目を入力いただかない場合は、当社のサービスの全部または一部を十分に提供できない場合があります。

第２条（個人情報の利用）
当社は、ユーザーの個人情報を以下の目的に利用し、法令に定めのある場合、または、別途利用目的を提示する場合を除き、それ以外の目的では利用いたしません。

（１）当社が運営するサービスの運営及び管理
（２）当社が提供するサービスに対する代金の支払い、決済、請求、返金、領収書発行、その他精算に関連する業務
（３）当社のシステム、ネットワーク等の障害・不具合・事故発生時の調査・対応など
当社サービスの安全な運営に必要な対策
（４）当社サービスの改善・新規開発
（５）ユーザーに対する各種サービスの提案・情報提供・広告配信
（６）当社が提携する事業者との取引及びその他取引に関連して行う連絡や情報の提供
（７）当社が提供するサービスの利用状況の調査・分析及びマーケティング

第３条（個人情報の第三者提供）
当社は、次項に定める場合を除き、個人を特定できる情報（氏名、住所、電話番号、メールアドレス等）を、事前に本人の同意を得ることなく第三者に提供しません。なお、当社において、当社がサービスを提供する上で必要な提携・契約関係にある企業・学校・団体等にユーザーの個人情報を提供する行為は、本項における第三者への開示または提供には該当しないものとします。
（１）ユーザー本人の同意がある場合
（２）法令に基づく場合
（３）人の生命、身体または財産の保護のために必要がある場合であって、ユーザー本人の同意を得ることが困難であるとき
（４）公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合で、
登録ユーザー本人の同意を得ることが困難であるとき
（５）国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、ユーザー本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき
（６）ユーザー本人を識別できないよう加工した情報を、開示または提供する場合
（７）合併、会社分割、営業譲渡その他の事由による事業承継に伴って、提供する場合

第４条（外部委託）
前項の規定にかかわらず、当社は、ユーザーにサービスを提供するにあたり、その業務の一部を委託し、利用目的の達成に必要な範囲内で国内外の業務委託先に対してユーザーの個人情報を提供することがあります。そのような場合は、当該第三者につき厳正な調査を行ったうえ、移送元及び移送先の法令が定める内容に従い、必要かつ適切な措置を講じ、秘密を保持させるために適正な監督を行います。

第５条（個人情報の開示・訂正・利用停止・消去）
当社は、ユーザー本人から下記の要請を受けた場合には、法令に定めのある場合を除き、当社の定める手続きに従い、速やかに対応します。但し、当社の業務に支障がある場合または本人の個人情報以外の情報開示については、お断りすることがあります。

（１）個人情報の利用目的の通知
（２）当社が保有している個人情報の開示
（３）個人情報の内容の訂正、追加または削除（個人情報の内容が事実と異なるという理由に基づく場合）
（４）個人情報の第三者提供の停止（法令に違反して個人情報が第三者に提供されているという理由に基づく場合）

第６条（組織・体制）
当社は、個人情報保護管理者を任命し、個人情報の適正な管理を実施します。
２．当社は、役員及び従業員に対し、個人情報の保護及び適正な管理方法についての研修を実施し、日常業務における個人情報の適正な取扱いを徹底します。

第７条（規約の変更）
当社は、必要に応じて、プライバシーポリシーの内容を変更することができるものとします。その場合、最新内容を当サービスのアプリケーション上で速やかに通知いたします。変更後の内容は、当社が当アプリケーション上に掲載した時点より効力を発するものとします。

第８条（お問い合わせ）
ユーザーが自身の個人情報の照会または修正等をご希望される場合、及び上記の個人情報保護方針へのお問い合わせにつきましては、下記にご連絡ください。


附則
本規約は、　　　　年　　月　　日より適用されます。


　　　　　　年　　月　　日制定


GDPR
EEA域内の個人情報の取扱いに適用される追加規定
本追加規定には、欧州連合（以下、「EU」という。）が定める一般データ保護規則（以下、「GDPR」という。）に基づき、当社が欧州経済領域（EEA）域内の登録ユーザーに提供することを義務付けられている特定の追加情報および現地の準拠法に準じた個人情報の取扱いに関する登録ユーザーの権利について記載しています。

本追加規定は、株式会社△▲△▲（以下、「当社」と記す。）が提供するサービスを利用する登録ユーザーのうち、欧州経済領域（EEA）の方に適用されます。本追加規定に定めのない事項については、欧州経済領域（EEA）の方に対しても、当社プライバシーポリシーの規定が適用されます。当社プライバシーポリシーと本追加規定内容に矛盾がある場合は、当社プライバシーポリシーの規定が優先されます。

本追加規定は、本アプリケーションの運営管理、特に個人情報の収集、記録および使用に関する目的および管理方法につきユーザーに告知するものです。ユーザーは自らの個人情報の提供につき自由に決定することができます。ただし個人情報の提供が不足する場合、当社は本サービスにおけるユーザーのリクエストを完遂できないことがあります。

第１条　個人情報の利用目的、取扱いおよび法的根拠当社において取扱う個人情報とその利用目的は下記の通りであり、当該利用目的がGDPR６条Ⅰに掲げられた項目の1つ以上に適合していることをその法的根拠としています。
（１）本サービスの登録及び管理
取扱個人情報：氏名、性別、国籍、生年月日、連絡先電話番号、Emailアドレス、クレジットカード情報、勤務先など
（２）登録ユーザー向け各種サービスの提供（登録ユーザーのマイページ、語彙マイカード？、マッチング、お知らせなど）取扱個人情報：氏名、性別、生年月日、国籍、連絡先電話番号、Emailアドレス、クレジットカード情報、勤務先、職業履歴
（３）代金の支払い、決済、請求、領収書発行、その他精算に関連する業務
取扱個人情報：氏名、住所、勤務先、クレジットカード情報、Emailアドレスなど
（４）登録ユーザーからの意見、要望、問い合わせ対応取扱個人情報：氏名、連絡先など
（５）登録ユーザーへのアンケート実施取扱個人情報：氏名、性別、年代、職業、住所、電話番号、Emailアドレス、勤務先情報など
（６）不正契約・不正利用・不払いの発生防止および発生時の調査・対応
取扱個人情報：氏名、性別、生年月日、国籍、連絡先、クレジットカード情報など（７）システム等の障害・不具合・事故発生時の調査・対応取扱個人情報：氏名、性別、生年月日、連絡先、国籍、クレジットカード情報など（８）法令または行政当局の通達・指導などに基づく対応取扱個人情報：氏名、年齢、性別、国籍、住所、連絡先、職業、勤務先情報、旅券番号、パスポートコピーなど
（９）アプリケーション利用状況の調査・分析取扱個人情報：Cookie、IPアドレス、ブラウザの種類、アクセス日時など
（１０）提携する事業者との取引及びその他の取引に関連して行う連絡や情報提供取扱個人情報：氏名、住所、クレジットカード情報、勤務先、職業履歴など
第２条　個人情報の第三国への移転当社は、登録ユーザーとの契約の履行手続きのために、日本国以外で取得した個人情報を日本国または第三国（EUによる十分性認定を受けていない国も含まれます。）へ移転することがあります。登録ユーザーの個人情報を第三国へ移転する場合、当社プライバシーポリシー及び法令に基づき、適切なセキュリティ及び秘密保持の措置を用いて登録ユーザーの個人情報を取り扱います。
第３条　個人情報の保持期間当社は、個人情報をその利用目的の達成に必要な期間に限り保持し、保持期間経過後の個人情報について、合理的な期間内に安全な方法で消去または匿名化の措置を取ります。
第４条　個人情報の取扱いに関する登録ユーザーの権利および請求について当社は、当社が保有するEEA域内に所在の登録ユーザーの個人情報に関する請求に対し、合理的な期間及び範囲で、次のとおり対応いたします。なお、請求にあたっては、事前に本人確認を行います。

（１）個人情報へのアクセス権：
登録ユーザーは、登録ユーザーに関係する当社のデータ処理行為に関しての必要情報を当社から取得することができます。（GDPR第13条および第14条）
登録ユーザーは、登録ユーザーに関係する個人情報が処理されているか否かについて、当社に確認をとることができ、処理されている場合には、個人情報および関連情報にアクセスすることができます。（GDPR第15条）
（２）個人情報の訂正および消去の権利登録ユーザーは、登録ユーザーに関係する不正確な個人情報を不当な遅滞なく訂正させることができ、また、不完全な個人情報があればこれを完全なものにすることができます。また、GDPRが定める要件を満たす場合には、登録ユーザーに関係する個人情報を不当な遅滞なく消去させることもできます（GDPR第16条およびGDPR第17条）
（３）個人情報の利用制限の権利
GDPRが定める要件を満たす場合には、登録ユーザーは、当社に個人情報の処理を制限させることができます。（GDPR第18条）
（４）データポータビリティの権利登録ユーザーが当社に提供した個人データについて、構造化され、一般的に利用され機械的可読性のある形式で受け取り、また、その個人データを当社の妨害なしに、他の事業者に移行することができます。（GDPR第20条）
（５）個人情報の利用への異議申立ての権利GDPRが定める要件を満たす場合には、登録ユーザーは、登録ユーザーの特定の状況を理由に、いつでも登録ユーザーに関係する個人情報の処理に異議を唱えることができます。（GDPR第21条）
第５条　監督機関への不服申し立て登録ユーザーは、当社の個人情報の取扱いについて、法令等に従って、国、地域または国際組織等の監督機関に不服を申し立てることができます。
第６条　子供に関する個人情報当社は、16歳未満の子供に関する情報を、保護者の許可と同意なしに、故意に収集し、処理することはありません。当社は16歳未満またはEU加盟国法によって異なるGDPRと同趣旨の最低年齢に達しない子供の個人情報を直接収集し、処理していたことを発見した場合は、できるだけ速やかに情報を消去する措置を講じます。16歳未満の子供が当社に個人情報を提供したことにお気付きの場合は、本章に記載した本社担当連絡先にコンタクトしてください。
第７条　担当連絡先EEA 域内の方の、個人情報の取扱いに関するお問い合わせは、下記にご連絡ください。Data Protection Officer

  
</label>
