<div class="row text-center">
  <div class="col-md-12 mt-3">
    <h2 class="border border-info rounded">企業一覧</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-2 mb-3">
    <%= link_to t('buttons.new').html_safe, new_kaisha_comp_path, class: "btn btn-warning" %>
  </div>
</div>
<div class="row">
  <div class="col-md-12" id="users">
    <%= render 'comp_list' %>
  </div>
</div>
