.card:hover {
  border: 1px  #343a40;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.no_hover {
  pointer-events: none;
}

.underline {
  text-decoration: none;
  color: var(--bs-body-color);
}

.mycard_status{
  position: absolute;
  right: 5px;
  top: 5px;
}

.mycard_swip{
  position: absolute;
  left: 5px;
  top: 5px;
}

.toggle-favorite .shadow-star,
.toggle-favorite .filled-star { display: none; }

.toggle-favorite[aria-pressed="true"] .shadow-star,
.toggle-favorite[aria-pressed="true"] .filled-star { display: block; }

.mycard_status i { pointer-events: none; }

.flip-target { transition: transform .3s; }
.flip-target.flipping { transform: rotateY(90deg); }