html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  overflow: hidden;
}

.form-signin {
  max-width: 1100px;
  padding: 15px;
  position: relative;
  overflow: auto;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.alert-danger {
  position: absolute;
  z-index: 2222;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.margin-auto {
  margin-left: auto;
  margin-right: auto;
}

.aligned-div {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
}

.left-content {
  text-align: left;
}

.right-content {
  text-align: right;
}

a {
color: #101111;
text-decoration: none;
}

.my-image{
  position: absolute;
  width: fit-content;
  opacity: .8;
  height: 900px;
  width: 100%;
  overflow: hidden;
}

select,
input[type="email"], 
input[type="password"], 
input[type="text"], 
textarea {
  border: none;
  outline: none;
  border-bottom: 2px solid #201d1d;
  border-radius: 0 !important;
  background-color: rgba(245, 245, 245, 1);
  opacity: .8;
}
@media only screen
and (max-width : 600px) {
.w-50{
  width:100% !important;
}
.hide-text{
  display: none;
}
.alert-danger{
  width: 95%;
}
}

.card{
  background-color: rgba(245, 245, 245, 1);
  opacity: .8;
}

.border-student {
  border-color: #c8a772;
  border-width: 5px !important;
}
.border-company {
  border-color: #30a7df;
  border-width: 5px !important;
}